.list-group-item-text {
    color: var(--bs-list-group-color);
    text-decoration: none;
    padding-left: 3px;
}

.primary {
    color: #2a9fd6;
}

.active {
    color: white;
}

.follow-icon {
    width: 50px;
    height: 50px;
}

.article-title {
    position: relative;
}

.article-title > img {
    position: absolute;
    width: 100%;
}

.article-title > .overlay-text {
    position: absolute;
    width: 100%;
    color: white;
    margin-top: 45%;
    margin-left: 5px;
    font-size: xx-large;
}

.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.articles {
    margin-top: 52.5%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.article-img {
    width: 100px;
}

.gray {
    color: grey;
}

.input-group {
    border: 1px solid #ced4da;
    background-color: #fff;
}

.fa-magnifying-glass {
    color: gray;
}

.form-control {
    border-radius: 1rem;
}